#contact{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 90vh;
    flex-direction: column;
}
#contact h2{
    margin: 3rem;
}
.contact__formContainer{
    box-shadow: 0px 10px 10px rgba(89, 88, 166, 0.2), 0px 20px 20px rgba(254, 85, 191, 0.1);
}
form {
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;

}

.formContainer_name,.formContainer_email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
label{
    margin-bottom: 1rem;
}
.submitButton{
    background-color: #fe55bf;
    color: #FFFFFF;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 2.5rem;
    border-bottom-left-radius: 2.5rem;
    box-shadow: 0px 10px 10px rgba(89, 88, 166, 0.3), 0px 20px 20px rgba(254, 85, 191, 0.4);
    margin-bottom: 3rem;
}