footer {
    background-color: #F0F9FF;
  }
  .footerWrapper{
    display: flex;
    padding: 2rem;
    width: 90%;
    margin: auto;
    align-items: center;
    min-height: 10vh;
    flex-wrap: wrap;
  }
  .footerText{
    flex: 1 1 40rem;
    padding: 2rem;
  }
  .footerP{
    font-size: 100%;
    color: #fe55bf;
  }
  .footerWrapper ul {
    display: flex;
    list-style: none;
    flex: 1 1 40rem;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
  }

  @media screen and (max-width: 550px){
    .footerText{
      text-align: center;
    }
  }